<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
{% load static %}
    <!--custom css link-->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <!--custom boxicons-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"rel="stylesheet"/>

    <!--google fonts link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <!--header design-->
    <header>
        <a href="{% url 'index'%}" class="logo">Paciffic<span>Reefs</span></a>

        <ul class="navbar">
            <li><a href="">Inicio</a></li>
            <li><a href="{% url 'informacion'%}">Información</a></li>
            <li><a href="{% url 'lista_servicios' %}">Catálogo</a></li>
        </ul>

        <div class="h-right">
            <a href="">Síguenos</a>
            <a href=""><i class="ri-instagram-fill"></i></a>
            <a href=""><i class="ri-twitter-x-fill"></i></a>
            <a href=""><i class="ri-facebook-fill"></i></a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>

        <a href="{% url 'register_login' %}" class="logo">Iniciar<span>Sesión</span></a>
    </header>

    <section class="home" style="background-image: url({% static '/img/fondiu.jpeg' %})">
            <div class="home-text" >
                <h5>Disfuta</h5>
                <h1>Bienvenido!</h1>
                <p>Te damos la bienvenida a nuestra página web!</p> 
                <a href="{% url 'informacion'%}" class="btn">Saber más</a>
            </div>
    </section>

    <!--feature section design-->
    <section class="feature">
        <div class="feature-content">
            <div class="row">
                <div class="row-img">
                    <img src="{% static '/img/nap1.jpg' %}" >
                </div>
                <h4>Rutas de Trekking</h4>
            </div>

            <div class="row">
                <div class="row-img">
                    <img src="{% static 'img/nap2.jpg' %}" >
                </div>
                <h4>Deporte Kayak</h4>
            </div>

            <div class="row">
                <div class="row-img">
                    <img src="{% static 'img/nap3.jpg' %}" >
                </div>
                <h4>Paracaidismo</h4>
            </div>

            <div class="row">
                <div class="row-img">
                    <img src="{% static 'img/nap4.jpg' %}" >
                </div>
                <h4>Xtreme rafting</h4>
            </div>
        </div>
    </section>

    <!--holiday section design-->
    <section class="holiday">
        <div class="holiday-img">
            <img src="{% static 'img/h1.jpg' %}">
        </div>

        <div class="holiday-text">
            <h5>Paisajes verdes</h5>
            <h2>Ven y disfruta de un aire fresco</h2>
            <p>Aquí en Paciffic Reefs podrás realizar tours por lugares hermosos, tendrás acceso a otras actividades como trekking, paracaidismo, etc...</p>
            <a href="" class="btn">Saber más</a>
        </div>
    </section>

    <!--tour section design-->

    <section class="tour">
        <div class="center-text">
            <h2>Tours populares</h2>
        </div>

        <div class="tour-content">
            <div class="box">
                <img src="{% static 'img/t1.jpg' %}">
                <h6>Torres del paine</h6>
                <h4>Trekking</h4>
            </div>

            <div class="box">
                <img src="{% static 'img/t2.jpg' %}">
                <h6>Rio Frutaleufu</h6>
                <h4>Rafting</h4>
            </div>

            <div class="box">
                <img src="{% static 'img/t3.jpg' %}">
                <h6>Desde los aires</h6>
                <h4>Paracaidismo</h4>
            </div>
        </div>

        <div class="center-btn">
            <a href="" class="btn">Ver todos los tours</a>
        </div>
    </section>

    <!--newsletter section design-->
    <section class="newsletter">
        <div class="newsletter-content">
            <div class="newsletter-text">
                <h2>Ven a conocernos </h2>
                <p>Disfruta estos hermosos paisajes que tenemos preparados para ti</p>
            </div>

            <form action="">
                <input type="email" placeholder="Escribe aqui tu email" required>
                <input type="submit" value="Get started" class="btn">
            </form>
        </div>
    </section>

    <!--footer section design-->
    <section class="footer">
        <div class="footer-box">
            <h3>Servicios</h3>
            <a href="#">Email marketing</a>
            <a href="#">Campaigns</a>
            <a href="#">Brandings</a>
            <a href="#">Offline</a>
        </div>

        <div class="footer-box">
            <h3>About</h3>
            <a href="#">Our Story</a>
            <a href="#">Beneficios</a>
            <a href="#">Team</a>
            <a href="#">Careers</a>
        </div>

        <div class="footer-box">
            <h3>Help</h3>
            <a href="#">FAQs</a>
            <a href="#">Contact us</a>
        </div>

        <div class="footer-box">
            <h3>Social</h3>
            <div class="social">
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""><i class="ri-twitter-x-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
            </div>
        </div>
    </section>

    <!--copyrisht-->
    <div class="copyright">
    <p>Copyright 2024. All rights reserved</p>
    </div>
    <!--custom js link-->
    <script src="{% static '../js/script.js'%}"></script>
    
</body>
</html>